/* content */
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
/* menu */
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
/* title */
@import url("https://fonts.googleapis.com/css?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Train+One&display=swap");

body {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: black;
  color: chartreuse;
  font-family: "Comfortaa";
}

p {
  padding: 0;
  margin: 0;
  animation: fadeIn 0.5s linear 1s;
}

span {
  animation: fadeIn 1s linear 1s;
}

h1 {
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
