ul {
    list-style-type: none;
    max-width: 25vw;
}
li {
    margin: 5px 5px;
    display: inline-block;
    border-bottom: .5px solid chartreuse;
}
/* 
PEERLIST STYLES
*/

/* 
HILO STYLES
*/


/* 
NEWS STYLES
*/


/* 
BUY/HOLD STYLES
*/