/*
TICKER.JS STYLES
*/
.ticker-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
}

.box {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  flex-grow: 1;
  /* text-align: left; */
}
/* ===================================== */
/* ===================================== */

/*
DAILY.JS STYLES
*/
.current {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.current p {
  width: 100%;
  /* text-align: center; */
  font-size: 3rem;
}
.current .row p {
  padding-right: 15px;
  width: 50%;
  text-align: right;
  font-size: 1rem;
}
.current .row span {
  width: 50%;
  /* text-align: left; */
  font-size: 3rem;
}
.historical {
  display: flex;
  flex-direction: column;
}
.historical p {
  width: 50%;
  text-align: right;
  padding-right: 15px;
  font-family: "RocknRoll One";
}
.historical span {
  width: 50%;
  font-size: 2rem;
  text-align: left;
}
.hi-lo p {
  width: 50%;
  text-align: right;
  padding-right: 15px;
  font-family: "RocknRoll One";
}
.hi-lo span {
  width: 50%;
  font-size: 2rem;
  text-align: left;
}
/* ===================================== */
/* ===================================== */

/*
MAIN.JS STYLES
*/
.main-handle .row {
  max-height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.main-handle .row .logo-box {
  min-width: 15vw;
}
.main-handle .spacer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.main-handle .spacer .profile {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.main-handle .spacer .profile .row span {
  width: 100%;
  padding: 0;
  max-height: 30vh;
  line-height: 1.5rem;
}
.main-handle .spacer .box .row {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.main-handle .row h1 {
  font-family: "RocknRoll One";
  /* animation: flash .5s linear .5s; */
}
.main-handle .row .box .ticker {
  font-family: "Comfortaa";
  font-size: 3rem;
}
.main-handle .row .box .sector {
  font-family: "Inconsolata";
  font-size: 1rem;
}
.main-handle .row .box .exchange {
  font-family: "Inconsolata";
  font-size: 1rem;
}
.main-handle .row .box .row p {
  width: 50%;
  text-align: right;
  padding-right: 15px;
  font-family: "RocknRoll One";
}
.main-handle .row .company-health {
  min-width: 30vw;
  padding: 0 10px;
  overflow-y: scroll;
}
.main-handle .row .company-health .table-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px dashed chartreuse;
  border-bottom: 1px dashed chartreuse;
}
.main-handle .row .company-health .table-row:hover {
}
.main-handle .row .company-health .table-row p {
  padding: 0;
  width: 50%;
  text-align: right;
  font-size: medium;
  font-variant: small-caps;
  font-weight: 400;
}
.main-handle .row .company-health .table-row span {
  padding: 0 10px;
  width: 50%;
  text-align: left;
  font-size: xx-large;
  font-weight: 500;
}
/* ===================================== */
/* ===================================== */

/*
FINANCIALS.JS STYLES
*/

/* ===================================== */
/* ===================================== */

/*
Media Queries STYLES
*/
@media only screen and (max-width: 768px) {
  .App {
    text-align: center;
  }
  .row {
    margin-bottom: 25px;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .box {
    padding: 0 0;
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
  }
}
/* ===================================== */
/* ===================================== */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes flash {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 50px chartreuse;
  }
}
