/*
TICKER.JS STYLES
*/
.ticker-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
}

.box {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  flex-grow: 1;
  text-align: left;
}
/* ===================================== */
/* ===================================== */

/*
DAILY.JS STYLES
*/
.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.current p {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}
.current .row p {
  padding-right: 15px;
  width: 50%;
  text-align: right;
  font-size: 1rem;
}
.current .row span {
  width: 50%;
  text-align: left;
  font-size: 3rem;
}
.historical {
  display: flex;
  flex-direction: column;
}
.historical p {
  width: 50%;
  text-align: right;
  padding-right: 15px;
  font-family: "RocknRoll One";
}
.historical span {
  width: 50%;
  font-size: 2rem;
  text-align: left;
}
.hi-lo p {
  width: 50%;
  text-align: right;
  padding-right: 15px;
  font-family: "RocknRoll One";
}
.hi-lo span {
  width: 50%;
  font-size: 2rem;
  text-align: left;
}
/* ===================================== */
/* ===================================== */

/*
MAIN.JS STYLES
*/
.main-handle .spacer .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  text-align: right;
}
.main-handle .spacer .box .row {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.main-handle .row h1 {
  font-family: "RocknRoll One";
}
.main-handle .row .box .ticker {
  font-family: "Comfortaa";
  font-size: 3rem;
}
.main-handle .row .box .sector {
  font-family: "Inconsolata";
  font-size: 1rem;
}
.main-handle .row .box .exchange {
  font-family: "Inconsolata";
  font-size: 1rem;
}
.main-handle .row .box .row p {
  width: 50%;
  text-align: right;
  padding-right: 15px;
  font-family: "RocknRoll One";
}
.main-handle .row .box .row span {
  width: 50%;
  /* font-size: 1.5rem; */
  text-align: left;
}
/* ===================================== */
/* ===================================== */

/*
FINANCIALS.JS STYLES
*/

/* ===================================== */
/* ===================================== */

/*
Media Queries STYLES
*/
@media only screen and (max-width: 768px) {
  .App {
    text-align: center;
  }
  .row {
    margin-bottom: 25px;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .box {
    padding: 0 0;
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
  }
}
/* ===================================== */
/* ===================================== */
